@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
/* custom scroll bar */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: rgb(255, 135, 37);
}
::-webkit-scrollbar-thumb {
    background: #222;
}
::selection{
  background: rgb(0,123,255,0.3);
}
.content{
  max-width: 1250px;
  margin: auto;
  padding: 0 30px;
}
.navbar{
  position: fixed;
  width: 100%;
  z-index: 2;
  padding: 25px 0;
  transition: all 0.3s ease;
}
.navbar.sticky{
  background: #1b1b1b;
  padding: 10px 0;
  box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.1);
}
.navbar .content{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar .logo a{
  color:#fff;
  font-size: 50px;
  font-weight: 800;
  text-decoration: none;
  -webkit-text-stroke: 3px black;
}
.navbar .logo a:hover{
  color: rgb(255, 135, 37);
}
.navbar .menu-list{
  display: inline-flex;
}
.menu-list li{
  list-style: none;
}
.menu-list li a{
  color: #fff;
  font-size: 17px;
  font-weight: 700;
  margin-left: 15px;
  text-decoration: none;
  transition: all 0.3s ease;
}
.menu-list li a:hover{
    color: rgb(255, 135, 37);
}
.banner{
  background: url("/img/orcamentos.jpg") no-repeat;
  height: 70vh;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.about{
  padding: 30px 0;
}
.about .title{
  font-size: 38px;
  font-weight: 700;
}
.about p{
  padding-top: 20px;
  text-align: justify;
}
.icon{
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  display: none;
}
.menu-list .cancel-btn{
  position: absolute;
  right: 30px;
  top: 20px;
}
@media (max-width: 1230px) {
  .content{
    padding: 0 60px;
  }
}
@media (max-width: 1100px) {
  .content{
    padding: 0 40px;
  }
}
@media (max-width: 900px) {
  .content{
    padding: 0 30px;
  }
}
@media (max-width: 868px) {
  body.disabled{
    overflow: hidden;
  }
  .icon{
    display: block;
  }
  .icon.hide{
    display: none;
  }
  .navbar .menu-list{
    position: fixed;
    height: 100vh;
    width: 100%;
    max-width: 400px;
    left: -100%;
    top: 0px;
    display: block;
    padding: 40px 0;
    text-align: center;
    background: #222;
    transition: all 0.3s ease;
  }
  .navbar.show .menu-list{
    left: 0%;
  }
  .navbar .menu-list li{
    margin-top: 45px;
  }
  .navbar .menu-list li a{
    font-size: 23px;
    margin-left: -100%;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .navbar.show .menu-list li a{
    margin-left: 0px;
  }
}
.sobrenos{
  border-radius: 10px;
	width:80px;
	height: 40px;
	color:#ffffff;
	outline:none;
	border:none;
	font-family: Poppins;
	background-color:#262525;
  cursor: pointer;
  margin-top: 15px;
}
.sobrenos:hover{
  color: rgb(255, 135, 37);

 }
.btnnavbar{
  background:rgba(248, 248, 248, 0);
  cursor: pointer;
  border: none;
  outline:none;
  font-family: Poppins;
  color: #fff;
  font-size: 17px;
  font-weight: 700;
  margin-left: 15px;
  
}
.btnnavbar:hover{
  color: rgb(255, 135, 37);

 }

@media (max-width: 380px) {
  .navbar .logo a{
    font-size: 27px;
  }
}





 







input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}
input[type=email], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
  border-radius: 15px;
	width:100px;
	height: 40px;
	color:#ffffff;
	outline:none;
	border:none;
	font-family: Poppins;
	background-color:#262525;
  cursor: pointer;
  float: right;
}

input[type=submit]:hover {
  color: rgb(255, 135, 37);
}

.container {
  width:75%;
  background-color: #f2f2f2;
  padding: 20px;
  border-radius:35px;
	box-shadow:2px 2px 35px rgba(0, 0, 0, 0.301);
  margin: -7%  auto 20px auto;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 650px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
    font-size: 10px;
  }

}

@media screen and (max-width: 1200px) {
  .container{
    margin-top: -120px;
  }
}











footer{
  
    bottom: 0;
    left: 0;
    right: 0;
    background: #111;
    height: auto;
    width: 100vw;
    font-family: "Open Sans";
    padding-top: 30px;
    color: #fff;
  }
  
   .footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }
  .footer-content h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
  }
  .footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
  }
  .socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
  }
  .socials li{
    margin: 0 10px;
  }
  .socials a{
    text-decoration: none;
    color: #fff;
  }
  .socials a i{
    font-size: 1.1rem;
    transition: color .2s ease;
  
  }
  .socials a:hover i{
    color: rgb(255, 135, 37);
  }
  
  .footer-bottom{
    background: #000;
    width: 100vw;
    padding: 15px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-bottom: -30px;
  }
  .footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
  }
  .footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
  }












  .fab-container{
    position: fixed;
    bottom: 50px;
    right: 50px;
    z-index: 999;
    cursor: pointer;
  }
  
  .botao .fab-icon-holder{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background: #222;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.671);
  }
  
  .botao .fab-icon-holder:hover{
    opacity: 0.8;
  }
  
  .botao .fab-icon-holder i {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-style: 25px;
    color: #000000;
  }
  
  
  
  .botao .fab-options{
    list-style-type: none;
    margin: 0;
    position: absolute;
    bottom: 70px;
    right: 0;
    opacity: 0;
    transition: all 0.3s ease;
    transform: scale(0);
    transform-origin: 85% bottom;
  }
  
  .botao .fab:hover + .fab-options, .fab-options:hover{
    opacity: 1;
    transform: scale(1);
  }
  
  .botao .fab-options li{
    display: flex;
    justify-content: flex-end;
    padding: 5px;
  }
  
  .botao .fab-label{
    padding: 2px 5px;
    align-self: center;
    user-select: none;
    white-space: nowrap;
    border-radius: 3px;
    font-size: 13px;
    background: rgba(66, 66, 66, 0.719);
    color: #fff;
    box-shadow: 0 6px 20px rgba(0,0,0,0.2);
    margin-right: 10px;
  }
  
  